.card {
  margin-bottom: 50px;
}

.card-img-top {
  padding: 25px;
}

.card-img {
  margin: 15px auto;
}

.card-title {
  font-weight: bold;
  font-size: 125%
}
.card-title {
  font-weight: bold;
  font-size: 125%;
}

.card-subtitle {
  font-style: italic;
}

.card-title, .card-subtitle, .card-text {
  padding: 5px;
  padding-left: 25px;
}

.btn-primary {
  width: 50%;
  margin: 15px auto;
}
